#componentMetadata {
    padding:15px;
    background: #ffffff;
    color:#000000;
}

.metadataHeader {
    display: inline-block;
    font-size:120%;
    white-space: nowrap;
    color:#e4e4e4;
    line-height:50px;
    margin-left:10px;
    font-weight: normal;
    text-transform: uppercase;
}

.hv-toggle {
    text-align: right;
}

.hv-toggle > button {
    margin-bottom:10px !important;
    margin-top:0px !important;
}

.whiteBg {
    background:#ffffff;
}

.text-center {
    text-align: center;
}

.bigPadding {
    padding:30px;
}