prm-logo {
	display: flex;
	flex-direction: row;
	align-items: center;
}

div.hollis-logo a {
	font-family: Goudy Old Style;
	color:#fff;
	font-size:28px;
	/*font-weight:bold;
	font-family:georgian;*/
}
div.hollis-logo a:hover {
	box-shadow: inset 0 -1px 0 0 #fff;
}
/* home page body */
/*#primoExploreRoot body {background: url(/primo-explore/custom/HVD_IMAGES/img/home_feature.png) no-repeat center center fixed;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;"
}*/


#hvd_home_content { 
  background: transparent url('/primo-explore/custom/HVD_IMAGES/img/home_feature.png') no-repeat center !important;
  background-size: cover !important;
  left: 0;
  right: 0;
  bottom: 0;
  top: 13.6em;
  position: fixed;  
}
#hvd_home_content > div.flex-60 {
	max-width: 45%;
	min-width: 300px;
    display: block;	
    margin-left: 11%;
	margin-top: 2%;
}	
#hvd_home_content md-card.default-card {
	background: #000;
    color: #ffffff;
    opacity: 0.7;
}	
#hvd_home_content a {
	color:#6fe2f8;
}
@media only screen and (max-width: 960px) {
	#hvd_home_content {top: 12.4em;}
	#hvd_home_content > div.flex-60 {
		min-width: 65%;	 	
	}	
}
@media only screen and (min-width: 1300px) {
	#hvd_home_content > div.flex-60 {
		margin-left: 21%;
	}	
}
@media only screen and (max-width: 640px) {
	#hvd_home_content > div.flex-60 {
		margin-left: 5%;
	}	
}