.closeBox {
    display: block;
    position: absolute;
    right:0;
    top:0;
    cursor: pointer;
    z-index: 10000;
}
.smallCloseIcon {
    width:30px;
    height:30px;
    fill:#FFF;
    stroke:#FFF;
    stroke-width: 2px;
}

.smallCloseIcon:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition:0.4s;
    transition-timing-function: ease-out;
}

.nopadding {
    padding-left:0px !important;
    padding-right:0px !important;
    margin-left:0px !important;
    width:auto !important;
    min-width: auto !important;
}

.nopadding:hover {
    background: transparent !important;
    cursor: none !important;
}

.truncate {
    white-space: nowrap;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    display:inline-block;
    vertical-align: middle;
    text-align: left;
}

.signInColor {
    color: #5C92BD;
}
.btn-margin-bottom {
    margin-bottom:30px;
}

.iframeClass {
    width:800px;
    height:650px;
    border: none;
    margin:0;
    padding:0;
    overflow: hidden;
}

.imageNav {
    margin-top: 20px;
    margin-bottom: 0px;
}

.spaceTop {
    margin-top:10px !important;
}

.space {
    margin-bottom:5px;
}
.spaceRight {margin-right:10px;}

.spaceLeft {
    margin-left:30px;
}

.spaceLeft10 {
    margin-left:10px;
}

.spaceLeft15 {
    margin-left:15px;
}

.spaceLeft5 {
    margin-left:5px;
}

.box {
    border:1px solid #efefef;
    border-radius:5px;
    padding:30px;
    box-shadow: 0px 1px 0px #ccc;
}

.nofoundList  > li {
    margin-bottom:10px;
}

a.noline:hover {
    text-decoration: none !important;
}

.contextMenus {
    position: absolute;
    background:#efefef;
    color:#3a3a3a;
    padding:30px;
    border-radius:5px;
    list-style: none;
    box-shadow:2px 2px 2px #666;
    cursor: pointer;
    z-index: 100000000;
}

.contextMenus > li {
    text-align: left;
    margin-bottom:15px;
}

.topMenu {
    background:#ffffff;
    height: 50px;
    width:100%;
}

.customTopMenu {
    position: absolute;
    top:-50px;
    left:0px;
    width:100%;
    height:50px;
    color:#000000 !important;
    z-index: 1000;
}

.hv-menu {
    margin-right:15px;
    padding:5px;
}

.customMenu {
    text-align: right;
}

.spaceBottom {
    margin-bottom:40px;
}

.noTopMargin {
    margin-top:-6px !important;
    color: #000000 !important;
}


.padding15 {
    padding:15px;
}

img.md-card-image {
    padding-left:0px !important;
}


.text-right {
    text-align: right;
    margin-right:20px;
}

.text-left {
    text-align: left;
}

.resultTopDisplay {
    margin-bottom:30px;
    margin-left:15px;
    border-bottom:1px solid #efefef;
    font-size:120%;
    font-weight:200;
}


.goRight {
    position:absolute;
    z-index:1;
    float:right;
    background:#ffffff;
    padding-top:30px;
}


.fullImageDetail {
    color: #ffffff;
    font-size:110%;
    text-align: center;
    display: inline-block;
    margin-left:10px;
    line-height:60px;
}

