
.hvfullsize {
  width: 100%;
}


.hvbox {
  display: inline-flex;
  flex-direction: column;
  margin-top:20px;
  margin-right:20px;
  border:1px solid #c3c3c3;
  width:200px;
  height:200px;
  color:#000000;
  box-shadow:2px 2px 2px #666666;
}

.hvbox > .photoBox {
  display: inline-flex;
  overflow: hidden;
  height:150px;
  width:150px;
  background:#ffffff;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hvbox:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition:0.4s;
  transition-timing-function: ease-out;
}

.photo {
  width: auto;
  height:150px;
}

.nophoto {
  width:auto;
  height:150px;
}

ul.pagination {
  list-style: none;
  display: inline-flex;
}

ul.pagination > li {
  margin-right:5px;
  border:1px solid #c3c3c3;
  padding:5px;
  padding-left:10px;
  padding-right:10px;
  border-radius:5px;
}

ul.pagination > li:hover {
  background:#efefef;
}

ul.pagination > li.active  {
  background:#efefef;
  cursor: none;
}

ul.pagination > li.active > a {
  color:#ff0000;
  cursor: none;
  text-decoration: none;
}

ul.pagination > li > a.active:hover {
  color:#ff0000;
  cursor: none;
  text-decoration: none;
}

.row > .column {
   display: inline-flex;
}

.hvtooltip {
  position: absolute;
  margin: auto;
  top:30%;
  left:30%;
  width:200px;
  display:inline;
  z-index: 10000000;
  background:#ffffff;
  color:#000000 !important;
  padding:5px;
  border:1px solid #c3c3c3;
  border-radius:5px;
  text-align: left;
}

body {
  background: #ffffff !important;
}

.main {
  background: #ffffff !important;
}

.disabled > a {
  color:#efefef;
}

.disabled > a:hover {
  background: transparent;
  cursor: none;
}

ul.pagination > li > .disabled  {
  background: transparent;
}

.text-right {
  position: absolute;
  float: right;
}

.badge {display:block; width:20px; height:20px; border-radius:10px; background:#efefef; color:#0c640c;
  text-align: center; border:1px solid #c3c3c3; position: absolute; top: -8px;
  right: -13px; left:185px;}