.closeBox {
    display: block;
    position: absolute;
    right:0;
    top:0;
    cursor: pointer;
    z-index: 10000;
}
.smallCloseIcon {
    width:30px;
    height:30px;
    fill:#FFF;
    stroke:#FFF;
    stroke-width: 2px;
}

.smallCloseIcon:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition:0.4s;
    transition-timing-function: ease-out;
}

.breadcrumbs {
    list-style: none;
    margin-left:0px;
}

.breadcrumbs > li {
    display: inline-block;
    margin-right:20px;
}

