.bkWhite {
    background:#ffffff;
    color:#000000;
}

.hvPanelFavorite {
    padding-bottom:10px;
    padding-left:15px;
    text-align: left;
}

.favoritePanel {
    background:#ffffff !important;
    color:#000000 !important;
    padding:20px !important;
    width:100%;
    height:100%;
}

md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 90% !important;
    width: 90% !important;
    max-width: 90% !important;
}

.tinyPhoto {
    width:75px;
    height: auto;
    cursor: pointer;
}

.tinyNoPhoto {
    width:75px;
    height:75px;
    background:#e4e4e4;
    border:1px solid #000000;
    cursor: pointer;
}

.favoriteBox {
    background:#ffffff;
    color:#000000;
    border-bottom:1px solid #e4e4e4;
    margin-bottom:10px;
    margin-left:15px;
    margin-right:15px;
    padding:10px;

}


.itemNumber {
    position: absolute;
    padding-left:5px;
    font-size:80%;
}

.itemCenter {
    text-align:left;
}

.moveDialog {
    position: fixed !important;
    width:100%;
}