.closeBox {
    display: block;
    position: absolute;
    right:0;
    top:0;
    cursor: pointer;
    z-index: 10000;
}
.smallCloseIcon {
    width:30px;
    height:30px;
    fill:#FFF;
    stroke:#FFF;
    stroke-width: 2px;
}

.smallCloseIcon:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition:0.4s;
    transition-timing-function: ease-out;
}

.nopadding {
    padding-left:0px !important;
    padding-right:0px !important;
    margin-left:0px !important;
    width:auto !important;
    min-width: auto !important;
}

.nopadding:hover {
    background: transparent !important;
    cursor: none !important;
}

.truncateText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
