
.hvfullsize {
  width: 100%;
}


.hvInline {list-style: none; }

.hvInline > li { display: inline-table; text-align: left; cursor: pointer;
  margin-bottom:5px; margin-right:10px; width: auto; height:180px; vertical-align: top; padding:5px;}

 .badge {color: #ffffff; padding-left:5px; padding-right:5px; position: relative; bottom:-2px; font-size:80%;
  display:inline-block; background:#666666; border-top-right-radius:3px; border-top-left-radius: 3px;}

.nobadge {color: #000000; padding:2px;
  display:inline-block; }


.hvbox {
  text-align: right;
  display: inline-block;
}


.hvbox:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition:0.4s;
  transition-timing-function: ease-out;
}

.photo {
  width:auto;
  height:auto;
}

.responsivePhoto {
   height:150px;
   width: auto;
}

.nophoto {
  width:150px;
  height:150px;
  text-align: center;
  background:#efefef;
  line-height:150px;
}


.row > .column {
   display: inline-flex;
}


body {
  background: #ffffff !important;
}

.main {
  background: #ffffff !important;
}

.disabled > a {
  color:#efefef;
}

.disabled > a:hover {
  background: transparent;
  cursor: none;
}

ul.pagination > li > .disabled  {
  background: transparent;
}

.text-right {
  text-align: left;
}


.hvtooltip {
  z-index: 10000000;
  background:#ffffff;
  color:#000000 !important;
  position: absolute;
  padding:5px;
  border:1px solid #c3c3c3;
  border-radius:5px;
  text-align: left;
  width:200px;
  top:40%;
  left:30%;
  margin: auto;
}

.lockIcon {
  position: absolute;
  z-index:100;
  float: right;
  margin-top:-35px;
}
