.closeBox {
    display: block;
    position: absolute;
    right:0;
    top:0;
    cursor: pointer;
    z-index: 10000;
}
.smallCloseIcon {
    width:30px;
    height:30px;
    fill:#FFF;
    stroke:#FFF;
    stroke-width: 2px;
}

.smallCloseIcon:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition:0.4s;
    transition-timing-function: ease-out;
}

.nopadding {
    padding-left:0px !important;
    padding-right:0px !important;
    margin-left:0px !important;
    width:auto !important;
    min-width: auto !important;
}

.nopadding:hover {
    background: transparent !important;
    cursor: none !important;
}

.truncate {
    white-space: nowrap;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    display:inline-block;
    vertical-align: middle;
    text-align: left;
}

.signInColor {
    color: #5C92BD;
}
.btn-margin-bottom {
    margin-bottom:30px;
}

.iframeClass {
    width:800px;
    height:650px;
    border: none;
    margin:0;
    padding:0;
    overflow: hidden;
}

.imageNav {
    margin-top: 20px;
    margin-bottom: 0px;
}

.space {
    margin-bottom:10px;
}
.spaceRight {margin-right:10px;}

.box {
    border:1px solid #efefef;
    border-radius:5px;
    padding:30px;
}