.bkWhite {
    background:#ffffff;
}

.hvPanelFavorite {
    padding-bottom:10px;
    padding-left:15px;
    text-align: left;
}

.favoritePanel {
    background:#ffffff !important;
    color:#000000 !important;
    padding:20px !important;
    width:100%;
    height:100%;
}

md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 90% !important;
    width: 90% !important;
    max-width: 90% !important;
}