.imageLabel {
    width:230px;
    height:30px;
    text-align: right;
}

.badge {
    top:15px;
    position:relative;
    z-index:1;
    margin-left:120px;
    width:30px;
    height:30px;
    line-height:30px;
    color:#ffffff;
    font-size:80%;
    text-align:center;
    background: url('../img/icon_multipleAssets30.png') no-repeat;
}

.imageBox {
    width:auto;
    height:150px;
    padding:0px !important;
    margin:0px !important;
    text-align: left;
    z-index:0;
}

.imageTitle {
    width:200px;
    height:40px;
    line-height:20px;
    text-align:left;
    font-size:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: inherit;
    display: inline-block;
    margin-top:20px;

}

.hv-image-card {
    padding-top: 0px !important;
    margin-top:0px !important;
    margin-bottom:0px !important;
    padding-bottom:0px !important;
    padding-left:0px !important;
    background: transparent !important;
    width:200px;
    height:230px;
    z-index:0 !important;
}

.nospace {
    padding:0px !important;
    margin-bottom:0px !important;
    margin-top:5px !important;
}

.lockIcon {
    display:block;
    position: absolute;
    margin-left:-11px;
    margin-top:-20px;
    z-index:5;
}

.lockIcon > img {
    width:25px;
    height:auto;
}

a.thumbnail > img:hover {
    cursor: pointer;
    transform: scale(1.04);
    transition:0.4s;
    transition-timing-function: ease-out;
    border:1px solid #ff0000;
}


a.thumbnail > img:focus {
    cursor: pointer;
    transform: scale(1.04);
    transition:0.4s;
    transition-timing-function: ease-out;
    border:1px solid #ff0000;
}

.photo {
    width:auto;
    height:auto;
    z-index: 0;
}

.responsivePhoto {
    height:150px !important;
    width: auto !important;
}

.nophoto {
    width:150px;
    height:150px;
    text-align: center;
    background:#efefef;
    line-height:150px;
    z-index: 0;
}

.nophoto:hover {
    border:1px solid #ff0000;
}

.nophoto:focus {
    border:1px solid #ff0000;
}
