<md-content id="componentMetadata" layout="row">
   <div flex="80">

    <div layout="row" layout-xs="column" class="layout-block-xs layout-xs-column layout-row space" ng-repeat="key in vm.keys track by $index" ng-if="vm.xmldata[key]">
        <div flex-gt-sm="20" flex-gt-xs="25" flex class="flex-gt-xs-25 flex-gt-sm-20 flex">
            <label class="bold-text">{{key|uppercase}}</label>
        </div>
        <div flex class="flex">
               <span ng-repeat="val in vm.xmldata[key] track by $index">
                  <span ng-bind-html="vm.getValue(val,key)"></span>
               </span>
        </div>
    </div>


    <div layout="row" layout-xs="column" class="layout-block-xs layout-xs-column layout-row space" ng-if="vm.items.pnx.control.sourcerecordid">
        <div flex-gt-sm="20" flex-gt-xs="25" flex class="flex-gt-xs-25 flex-gt-sm-20 flex">
            <label class="bold-text">HOLLIS Number</label>
        </div>
        <div flex class="flex">
               <span ng-repeat="sourcerecordid in vm.items.pnx.control.sourcerecordid track by $index">
                   {{sourcerecordid}}&nbsp;
               </span>
        </div>
    </div>

   </div>
</md-content>
<hr/>


<!--- display component -->
<md-content  id="componentMetadata">
    <div class="hv-toggle">
        <md-button ng-click="vm.toggle()" class="md-fab md-button md-ink-ripple">
            <md-icon md-svg-src="/primo-explore/custom/HVD_IMAGES/img/{{vm.toggleData.icon}}"></md-icon>
        </md-button>
    </div>
    <div  ng-repeat="data in vm.xmldata.component track by $index" ng-hide="vm.toggleData.flag">
        <div layout="row" layout-xs="column" class="layout-row">
            <span>{{$index + 1}}.</span>
            <div flex>
                <div layout="row" layout-xs="column" class="layout-block-xs layout-xs-column layout-row space" ng-repeat="key in vm.getKeys(data) track by $index" ng-if="data[key]">
                <div flex-gt-sm="20" flex-gt-xs="25" flex class="flex-gt-xs-25 flex-gt-sm-20 flex">
                    <label class="bold-text">{{key|uppercase}}</label>&nbsp;
                </div>
                <div flex flex-gt-sm="80" flex-gt-xs="75" class=" flex-gt-xs-75 flex-gt-sm-80 flex">
                    <span ng-repeat="val in data[key] track by $index">
                        <span ng-bind-html="vm.getValue(val)"></span>
                    </span>
                </div>
                </div>
            </div>
            <div flex="20" ng-click="vm.gotoFullPhoto($index)">
                <custom-thumbnail itemdata="data" searchdata="vm.params"></custom-thumbnail>
            </div>
        </div>
        <hr/>
    </div>
</md-content>