<div layout="row" class="whiteBg" ng-if="vm.index !== -1">
   <div flex="{{vm.flexsize}}" class="full-view-inner-container whiteBg">

       <!-- iframe component -->

       <section layout="row" layout-align="center center" class="imageNav" layout-wrap ng-if="vm.total > 1 && vm.imageNav">
           <md-button class="md-fab md-raised md-primary" (click)="vm.prevPhoto()" tabindex="0" aria-label="Previous photo button">
               <md-icon md-svg-icon="primo-ui:chevron-left" aria-label="chevron-left-icon"></md-icon>
           </md-button>
           <label class="label">
               {{vm.index + 1}} of {{vm.total}} images
           </label>
           <md-button class="md-fab md-raised md-primary" (click)="vm.nextPhoto()" tabindex="0" aria-label="Next photo button">
               <md-icon md-svg-icon="primo-ui:chevron-right" aria-label="chevron-right-icon"></md-icon>
           </md-button>
       </section>

       <single-image ng-if="vm.item.pnx.addata" src="vm.photo._attr.href._value" imgtitle="vm.imageTitle"
                     restricted="vm.photo._attr.restrictedImage._value" jp2="vm.jp2"></single-image>
       <div layout="row" class="spaceTop" layout-sm="column" ng-if="vm.photo.caption">
           <div flex="20"></div>
           <div flex="80"><span class="bold-text spaceRight">Caption:</span>  {{vm.photo.caption[0]._text}}</div>
       </div>

       <!--- start display title and info from xml format -->
       <br/>


       <div layout="row" layout-xs="column" class="layout-block-xs layout-xs-column layout-row space" ng-repeat="key in vm.keys track by $index" ng-if="vm.item.pnx.display[key]">
           <div flex-gt-sm="20" flex-gt-xs="25" flex class="flex-gt-xs-25 flex-gt-sm-20 flex">
               <label class="bold-text">{{key|mapXmlFilter}}</label>
           </div>
           <div flex class="flex">
               <span ng-repeat="val in vm.item.pnx.display[key] track by $index">
                  <span ng-bind-html="vm.getValue(val,key)"></span><br/>
               </span>
           </div>
       </div>

       <!--- end display title and info from xml format -->
        <hr ng-if="vm.item.pnx.addata"/>

       <!-- display image component -->


       <div layout="row" layout-xs="column" class="layout-row">
           <div flex>
               <div layout="row" layout-xs="column" class="layout-block-xs layout-xs-column layout-row space" ng-repeat="key in vm.getKeys(vm.componentData) track by $index" ng-if="vm.componentData[key]">
                   <div flex-gt-sm="20" flex-gt-xs="25" flex class="flex-gt-xs-25 flex-gt-sm-20 flex" ng-if="vm.getComponentValue(key)">
                       <label class="bold-text">{{key|mapXmlFilter}}</label>&nbsp;
                   </div>
                   <div flex flex-gt-sm="80" flex-gt-xs="75" class=" flex-gt-xs-75 flex-gt-sm-80 flex" ng-if="vm.getComponentValue(key)">
                       <span ng-bind-html="vm.getComponentValue(key)"></span>
                   </div>
               </div>
               <!--
               <div layout="row" layout-xs="column" class="layout-block-xs layout-xs-column layout-row space"  ng-if="vm.componentData">
                   <div flex-gt-sm="20" flex-gt-xs="25" flex class="flex-gt-xs-25 flex-gt-sm-20 flex">
                       <label class="bold-text">Permalink to this record</label>&nbsp;
                   </div>
                   <div flex flex-gt-sm="80" flex-gt-xs="75" class=" flex-gt-xs-75 flex-gt-sm-80 flex">
                       <span ng-if="vm.filename">
                       <a href="http://faulkner.hul.harvard.edu:9020/images/{{vm.recordid}}/{{vm.filename}}/catalog" target="_blank">
                           http://faulkner.hul.harvard.edu:9020/images/{{vm.recordid}}/{{vm.filename}}/catalog
                       </a>
                       </span>
                   </div>
               </div>
               -->
           </div>
       </div>

       <!-- end display image component -->
  
   </div>
</div>


<!-- display error message when the vm.index = -1 -->
<div layout="row" class="whiteBg" ng-if="vm.index === -1">
    <div flex class="full-view-inner-container whiteBg">
    <p class="text-center bigPadding">
        This component does not exist. Please visit the work record at
        <a href="http://id.lib.harvard.edu/via/{{vm.recordid}}/catalog">
            http://id.lib.harvard.edu/via/{{vm.recordid}}/catalog
        </a>.
    </p>
    </div>
</div>

