

<!-- saved record favorite list -->
<md-content class="main _md md-primoExplore-theme" >
<md-tabs md-dynamic-height md-border-bottom md-swipe-content="true" md-autoselect md-selected="$ctrl.selectedIndex">
    <md-tab label="Saved Records" md-on-select="$ctrl.selectTab('items')" >
    <!-- list all pin favorite items -->
    <md-content  ng-if="$ctrl.dataList.favoritesService.favoritesTab==='items'" layout="row" layout-xs="column" layout-align="start start">
        <div flex="80"  class="flex">
            <div infinite-scroll="$ctrl.favoritesService.nextResults()" infinite-scroll-distance="0" infinite-scroll-immediate-check="false">
                <custom-favorite-list parent-ctrl="$ctrl.dataList"></custom-favorite-list>
            </div>
        </div>

        <!-- display label on the right side of the page -->
        <div flex="20" class="flex" ng-if="$ctrl.logInID">

            <prm-favorites-labels class="layout-full-width"></prm-favorites-labels>

        </div>

    </md-content>
    <div class="marginBottom200" ng-if="$ctrl.dataList.favoritesService.favoritesTab==='items'">&nbsp;</div>
    </md-tab>
    <!-- saved searches -->
    <md-tab label="Saved Search" md-on-select="$ctrl.selectTab('queries')" ng-if="$ctrl.logInID">
    <md-content layout="row" layout-align="start start" ng-if="$ctrl.savedQueryItems.length > 0">
        <div flex>
            <prm-saved-queries-list [(itemlist)]="$ctrl.savedQueryItems" [(is-search-history)]="$ctrl.isSearchHistory"></prm-saved-queries-list>
        </div>
    </md-content>
    </md-tab>
    <!-- search history -->
    <md-tab label="Search History" md-on-select="$ctrl.selectTab('search_history')" >
    <md-content layout="row" layout-align="start start"  ng-if="$ctrl.historyItem.length > 0">
        <div flex>
            <prm-saved-queries-list [(itemlist)]="$ctrl.historyItem" [(is-search-history)]="$ctrl.isSearchHistory"></prm-saved-queries-list>
        </div>
    </md-content>
    </md-tab>
</md-tabs>
</md-content>



