<!-- show iframe in the center -->
<div ng-if="vm.showImage" layout="column" layout-align="center center">
    <md-card class="hv-md-card">
        <div ng-if="vm.jp2">
            <iframe src="{{vm.imageUrl}}" class="iframeClass"></iframe>
        </div>
        <div ng-if="!vm.jp2">
            <img ng-if="vm.imageUrl" src="{{vm.imageUrl}}" class="md-card-image {{vm.localScope.imgClass}}" alt="{{vm.imgtitle}}" aria-label="{{vm.imgtitle}}" title="{{vm.imgtitle}}"/>
            <div class="nophoto" ng-if="!vm.imageUrl" aria-label="{{vm.imgtitle}}" title="{{vm.imgtitle}}">Image not digitized</div>
        </div>
        <span ng-if="vm.localScope.loading"><img class="md-avatar" src="custom/HVD_IMAGES/img/ajax-loader.gif"/></span>
    </md-card>
</div>

<!-- show login for restrict image -->
<div layout="row" class="bar alert-bar layout-align-center-center layout-row" ng-if="!vm.showImage">
    <span class="bar-text">Please sign in to see larger image.</span>
    <button ng-click="vm.signIn()" class="button-with-icon zero-margin md-button md-primoExplore-theme md-ink-ripple signInColor" type="button" aria-label="Sign in">
        <prm-icon icon-type="svg" svg-icon-set="primo-ui" icon-definition="sign-in">
            <md-icon md-svg-icon="primo-ui:sign-in" aria-label="icon-sign-in" class="md-primoExplore-theme"></md-icon>
        </prm-icon>
        <span class="signInColor">Sign in</span>
    </button>
</div>
